@import url(../stylesheet/style.css);

.header {
  object-fit: cover;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    no-repeat center/100% url(../Resources/faculty.jpg);
  background-size: cover;
}
