@import url(../stylesheet/style.css);
@import url(courses.css);
.header {
  object-fit: cover;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    no-repeat center/100% url(../Resources/faculty.jpg);
  background-size: cover;
}
.faculty_overlay > h2 {
  color: var(--text-primary-white);
  -webkit-text-stroke: 1px var(--black);
}
.faculty_details {
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: repeat(5, 200px);
  gap: 20px;
  margin-top: 40px;
}
.faculty_detail {
  width: 200px;
}
.faculty_img {
  width: 100%;
  height: 230px;
}

.faculty_img > img {
  width: 100%;
  height: 100%;
}
.faculty_img > img {
  object-fit: cover;
  border-radius: 6px;
}
.faculty_designation {
  margin: 8px 0;
}

.faculty_name {
  margin: 10px 0;
}
.faculty_name > p {
  font-size: 1.2rem;
  font-weight: 600;
}
.faculty_designation > p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-secondary-black);
}
.faculty_name > p,
.faculty_designation > p {
  font-family: "Noto serif", sans-serif;
  text-align: center;
}

/* DESKTOP  */
@media (min-width: 993px) and (max-width: 1200px) {
  .faculty_detail {
    width: 180px;
  }
  .faculty_img {
    height: 220px;
  }
  .faculty_details {
    grid-template-columns: repeat(4, 180px);
  }
}
/* TABLET  BIG SCREEN*/
@media (min-width: 768px) and (max-width: 992px) {
  .faculty_overlay > h2 {
    font-size: 2rem;
  }
  .faculty_overlay > p {
    font-size: 1.1rem;
  }
  .faculty_detail {
    width: 180px;
  }
  .faculty_img {
    height: 220px;
  }
  .faculty_details {
    grid-template-columns: repeat(3, 180px);
  }
}
/* TABLET SMALL SCREEN  */
@media (min-width: 576px) and (max-width: 767px) {
  .faculty_overlay > h2 {
    font-size: 1.5rem;
  }
  .faculty_overlay > p {
    font-size: 0.85rem;
  }
  .faculty_name > p {
    font-size: 1rem;
  }
  .faculty_designation > p {
    font-size: 0.9rem;
  }
  .faculty_detail {
    width: 180px;
  }
  .faculty_img {
    height: 200px;
  }
  .faculty_details {
    grid-template-columns: repeat(2, 180px);
  }
}

/* PHONE  */
@media (min-width: 200px) and (max-width: 575px) {
  .faculty_overlay > h2 {
    font-size: 1.3rem;
  }
  .faculty_overlay > p {
    font-size: 0.75rem;
    width: 100%;
  }
  .faculty_name > p {
    font-size: 1rem;
  }
  .faculty_designation > p {
    font-size: 0.9rem;
  }
  .faculty_detail {
    width: 160px;
  }
  .faculty_img {
    height: 180px;
  }
  .faculty_details {
    /* justify-content: flex-start; */

    grid-template-columns: repeat(1, 160px);
  }
}
